<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="icon.png">
  <link rel="stylesheet" href="./css/entrar.css">
  <title>Login</title>
</head>
<body>
  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <img src="./images/OIG.jpeg" id="icon" alt="User Icon" style="vertical-align: middle; height: 80%; width: 70%; border-radius: 50%; overflow: hidden;" />
    </div>
    <% if(mensagem) {%>
    <div><h1 style="color: white;"> <%= mensagem %> </h1></div>
    <% } %>
    <div><h1 style="color: white;"> Digite a nova Senha </h1></div>
    <form action="/mudar" method="post">
      <input type="password" id="password" class="fadeIn third" name="senha" placeholder="SENHA" required>
      <input type="submit" class="fadeIn fourth" value="redefinir" name="redefinir">
    </form>
    
  </div>
</div>
</body>
</html>