<div style="opacity: 1" class="page-wrapper">
    <div
      data-w-id="8902ab60-ff18-1ad1-7b19-201b504196ac"
      data-animation="over-right"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="sidebar-wrapper w-nav"
    >
      <div class="overflow-hidden">
        <div class="sidebar-logo-section-container">
          <a href="#" class="sidebar-logo-link w-nav-brand" aria-label="home"
            ><img
              src="/images/logoComFundo.png"
              loading="eager"
              alt="Logo" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%; overflow: hidden;"
          /><h4>Eco$impler</h4></a>
          <div
            data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b1"
            class="sidebar-collapsed-icon-btn-wrapper"
          >
            <div class="sidebar-collapsed-icon-btn">
              <img
                src="/images/logoComFundo.png"
                loading="eager"
                alt="icon" style="vertical-align: middle; width: 30px; height: 30px; border-radius: 50%; overflow: hidden;"
              />
            </div>
          </div>
          <div
            data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b4"
            class="sidebar-collapse-icon-container"
          >
            <img
              src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641a44eacea004497242c828_sidebar-collapse-icon-dashdark-webflow-template.svg"
              loading="eager"
              alt=""
            />
          </div>
        </div>
        <div class="sidebar-collapsed-divider"></div>
        <div
          class="position-relative---z-index-1 logo-and-icon-mobile-container"
        >
          <nav
            role="navigation"
            class="sidebar-menu-container w-nav-menu"
            style="transform: translateX(0px) translateY(0px)"
          >
            <div class="sidebar-menu-collapsed-overlay"></div>
            <div
              data-hover="false"
              data-delay="0"
              data-w-id="8902ab60-ff18-1ad1-7b19-201b504196bd"
              class="dropdown-wrapper sidebar-dropdown w-dropdown"
            >
              <div
                class="dropdown-toggle sidebar-dropdown w-dropdown-toggle"
                id="w-dropdown-toggle-0"
                aria-controls="w-dropdown-list-0"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <div class="flex">
                  <div class="dashdark-custom-icon sidebar-link-icon"><i class="material-icons">book</i></div>
                  <div class="text-200 sidebar-dropdown-text">Cursos</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
              </div>
              <nav
                class="sidebar-dropdown-list-wrapper w-dropdown-list"
                id="w-dropdown-list-0"
                aria-labelledby="w-dropdown-toggle-0"
                style="opacity: 0; height: 0px"
              >
                <div
                  class="sidebar-dropdown-inner-wrapper"
                  style="
                    transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                >
                  <a
                    href="/admPage"
                    aria-current="page"
                    class="sidebar-dropdown-link w-dropdown-link w--current"
                    tabindex="0"
                    >Cursos Publicados</a
                  >
                  <a
                    href="/cursosProd"
                    aria-current="page"
                    class="sidebar-dropdown-link w-dropdown-link w--current"
                    tabindex="0"
                    >Cursos em Produção</a
                  ><a
                    href="/novoCurso"
                    class="sidebar-dropdown-link w-dropdown-link"
                    tabindex="0"
                    >Criar novo curso</a
                  >
                </div>
              </nav>
            </div>
            
            
            <div class="sidebar-divider"></div>
            <div
              data-hover="false"
              data-delay="0"
              data-w-id="8902ab60-ff18-1ad1-7b19-201b50419738"
              class="dropdown-wrapper sidebar-dropdown w-dropdown"
            >
              <div
                class="dropdown-toggle sidebar-dropdown w-dropdown-toggle"
                id="w-dropdown-toggle-6"
                aria-controls="w-dropdown-list-6"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <div class="flex">
                  <div class="dashdark-custom-icon sidebar-link-icon"><i class="material-icons">book</i></div>
                  <div class="text-200 sidebar-dropdown-text">
                    Indicações
                  </div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
              </div>
              <nav
                class="sidebar-dropdown-list-wrapper w-dropdown-list"
                id="w-dropdown-list-6"
                aria-labelledby="w-dropdown-toggle-6"
                style="opacity: 0; height: 0px"
              >
                <div
                  class="sidebar-dropdown-inner-wrapper"
                  style="
                    transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                >
                  <a
                    href="/indicaFilme2"
                    class="sidebar-dropdown-link icon-left w-inline-block"
                    tabindex="0"
                    ><img
                      src="https://www.svgrepo.com/show/502425/entertainment.svg"
                      loading="eager"
                      alt="Buttons - Dashdark X Webflow Template"
                      class="max-w-20px"
                    />
                    <div>Filmes</div></a
                  ><a
                    href="/indicaSerie2"
                    class="sidebar-dropdown-link icon-left w-inline-block"
                    tabindex="0"
                    ><img
                      src="https://www.svgrepo.com/show/225107/television-tv.svg"
                      loading="eager"
                      alt="Badges - Dashdark X Webflow Template"
                      class="max-w-20px"
                    />
                    <div>Séries</div></a
                  ><a
                    href="/indicaJogo2"
                    class="sidebar-dropdown-link icon-left w-inline-block"
                    tabindex="0"
                    ><img
                      src="https://www.svgrepo.com/show/475521/arcade.svg"
                      loading="eager"
                      alt="Dropdowns - Dashdark X Webflow Template"
                      class="max-w-20px"
                    />
                    <div>Jogos</div></a
                  >
                  <a
                    href="/indicaSite2"
                    class="sidebar-dropdown-link icon-left w-inline-block"
                    tabindex="0"
                    ><img
                      src="https://assets.website-files.com/641a0c8100e68df2708b96bf/64236a4ba76410b9aa42faba_dropdowns-component-icon-dashdark-webflow-template.svg"
                      loading="eager"
                      alt="Dropdowns - Dashdark X Webflow Template"
                      class="max-w-20px"
                    />
                    <div>Sites</div></a
                  >
                  <a
                    href="/indicaLivro2"
                    class="sidebar-dropdown-link icon-left w-inline-block"
                    tabindex="0"
                    ><img
                      src="https://www.svgrepo.com/show/401214/books.svg"
                      loading="eager"
                      alt="Dropdowns - Dashdark X Webflow Template"
                      class="max-w-20px"
                    />
                    <div>Livros</div></a
                  >
                </div>
              </nav>
            </div>
            <div class="sidebar-divider"></div>
            
            <div
              data-hover="false"
              data-delay="0"
              data-w-id="8902ab60-ff18-1ad1-7b19-201b5041977e"
              class="dropdown-wrapper sidebar-dropdown w-dropdown"
            >
              <div
                class="dropdown-toggle sidebar-dropdown w-dropdown-toggle"
                id="w-dropdown-toggle-9"
                aria-controls="w-dropdown-list-9"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <div class="flex align-center gap-column-8px">
                  <img
                    src="https://www.svgrepo.com/show/499764/user.svg"
                    loading="eager"
                    sizes="(max-width: 991px) 100vw, (max-width: 1439px) 32px, (max-width: 1919px) 2vw, 32px"
                    
                    alt="John Carter - Dashdark X Webflow Template"
                    class="avatar-circle _01"
                  />
                  <div class="sidebar-user-text-container">
                    <div
                      class="text-200 sidebar-dropdown-text color-neutral-100"
                    >
                      
                    </div>
                    <div
                      class="text-100 sidebar-dropdown-text color-neutral-400"
                    >
                      Account settings
                    </div>
                  </div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow"></div>
              </div>
              <nav
                class="sidebar-dropdown-list-wrapper sidebar-account-settings-list w-dropdown-list"
                id="w-dropdown-list-9"
                aria-labelledby="w-dropdown-toggle-9"
                style="opacity: 0; height: 0px"
              >
                <div class="flex-vertical">
                  <div class="grid-1-column gap-row-16px">
                    <a
                      id="w-node-_8902ab60-ff18-1ad1-7b19-201b5041978c-504196ac"
                      href="/profile"
                      class="font-icon-left-link w-inline-block"
                      tabindex="0"
                      ><div class="dashdark-custom-icon"></div>
                      <div class="text-100 medium">View profile</div></a
                    ><a
                      id="w-node-_8902ab60-ff18-1ad1-7b19-201b50419791-504196ac"
                      href="/mudar"
                      class="font-icon-left-link w-inline-block"
                      tabindex="0"
                      ><div class="dashdark-custom-icon"></div>
                      <div class="text-100 medium">Mudar Senha</div></a
                    >
                  </div>
                  <div class="sidebar-account-settings-divider"></div>
                  <div class="grid-1-column gap-row-16px">
                    <a
                      id="w-node-_8902ab60-ff18-1ad1-7b19-201b504197a7-504196ac"
                      href="/logout"
                      class="font-icon-left-link color-red-300 w-inline-block"
                      tabindex="0"
                      ><div class="dashdark-custom-icon"></div>
                      <div class="text-100 medium">Log out</div></a
                    >
                  </div>
                </div>
              </nav>
            </div>
            <!-- <div class="sidebar-btn-wrapper">
              <div
                data-w-id="8902ab60-ff18-1ad1-7b19-201b504197ad"
                class="flex-vertical"
              >
                <a href="#" class="btn-primary large w-inline-block"
                  ><div class="flex-horizontal gap-column-8px">
                    <div>Get template</div>
                    <img
                      src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b63dda3f38370c23f0133_btn-arrow-right-dashdark-webflow-template.svg"
                      loading="eager"
                      alt=""
                      class="btn-icon-right max-h-16px"
                      style=""
                    /></div
                ></a>
              </div>
            </div> -->
          </nav>
          <a
            href="#"
            class="sidebar-logo-link show-on-tablet w-nav-brand"
            aria-label="home"
            ><img
              src="/images/logoComFundo.png"
              loading="eager"
              alt="Dashdark X Webflow Template - Logo" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%; overflow: hidden;"
          /></a>
          <div
            class="hamburger-menu-wrapper w-nav-button"
            style="-webkit-user-select: text"
            aria-label="menu"
            role="button"
            tabindex="0"
            aria-controls="w-nav-overlay-0"
            aria-haspopup="menu"
            aria-expanded="false"
          >
            <div class="sidebar-mobile-menu-icon-wrapper">
              <img
                src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b92b6945322a81497dbc3_sidebar-mobile-collapse-icon-left-dashdark-webflow-template.svg"
                loading="eager"
                alt=""
                class="sidebar-mobile-menu-icon left"
                style=""
              /><img
                src="https://assets.website-files.com/641a0c8100e68df2708b96bf/641b92b6db1c7a0a1d8c0926_sidebar-mobile-collapse-icon-right-dashdark-webflow-template.svg"
                loading="eager"
                alt=""
                class="sidebar-mobile-menu-icon right"
                style=""
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-nav-overlay"
        data-wf-ignore=""
        id="w-nav-overlay-0"
        style="display: none"
      ></div>
    </div>
    