<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="icon" href="icon.png">
  <link rel="stylesheet" href="./css/entrar.css">
</head>

<body >
  
<div class="wrapper fadeInDown">
  <div id="formContent"><br>
    <div class="fadeIn first">
      <img src="./images/mar.jpeg" id="icon" alt="User Icon" style="vertical-align: middle; height: 70%; width: 70%; border-radius: 50%; overflow: hidden;" />
    </div>
      <div><h1 style="color: white;" class="fadeIn second">Obrigado por se inscrever!</h1><h2 class="fadeIn third">cheque seu email para validar o cadastro</h2><p>caso não tenha achado o email, confira na caixa de span, e verifique se digitou corretamente o email</p><h3 class="fadeIn fourth"><%= email %></h3></div>
      
    <div id="formFooter">
        <a class="underlineHover" href="/">Voltar para o menu</a><br>
        
      </div>
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>
    </div> -->

  </div>
</div>
</body>
</html>